<config>
	<parent-provides>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="File_system"/>
		<service name="Nic"/>
	</parent-provides>

	<default-route> <any-service> <parent/> <any-child/> </any-service> </default-route>

	<default caps="100"/>

	<start name="ssh_terminal" caps="250">
		<resource name="RAM" quantum="32M"/>
		<provides> <service name="Terminal"/> </provides>
		<config port="1811" allow_password="yes" show_password="yes" rsa_key="/etc/ssh/rsa_key">
			<policy label_prefix="noux" user="sculpt" password="sculpt" request_terminal="yes"
			        multi_login="yes"/>
			<vfs>
				<dir name="dev">
					<log/>
					<inline name="rtc">2018-10-01 00:00</inline>
					<inline name="random">0123456789</inline>
				</dir>
				<dir name="etc">
					<dir name="ssh">
						<inline name="rsa_key">-----BEGIN RSA PRIVATE KEY-----
MIIEpQIBAAKCAQEA22tGPQl9yFpCPTnBUAYX+drsiWirsyXZmuZgwXDfkR3wBAdL
Ci+Ap63mAZOXEdjRjRYjLlpbHnFo3wm32H5zUgDGNk2XWitHX0BCqP5jKPRMF3YQ
aKPSrc2zpwKUBZllPiJGKtGJVWXN+hHYRiqOliEqwd2aN2rXFfjHbkKxT+qJfmJY
VvPD9t17B9Y8Poye0NyjaFB52GtZQJG3+SF8tRF/IFGn3TXToO0yoyChxXHNCmgi
qa3ERDwIIV88+9sQaXSVWS2MRdzaERQ3m2vdU+LtjODxaQzpzuqjmrcX14yaRdLV
rDD5P04h/62n4jA90QiqztJq33m79AQGNNuwLQIDAQABAoIBAQDDexAJgvI31And
aB4MgFFN/Tfst374zQjQEt0yma/kJorV2/WDroxtVuVqlCXr9YHDs2xGeKNjPOCU
jKDo1MdC0IPGj1v/Lj2Y47Q/wNtw+izsXfgCcalZxMCAUzCyyFXFhF2E+kbi+R8H
4mwPHw0HPadNLnOdWacj4Q8z8WDs8z0ktEhL7JD2rOja3xD/BG4Bsd2+/o0lfVy/
uDvT2AbX7ep3eBxaK4LdLJpTdbtQs8FTqGSNbeo7VkUOuRE62aqYc+Wvy84nbhn6
/+q4IkcUqmMKyFP+YKHlQ5PtRdXAVsU6ZyqhzpXd4hlPQrcU2anbKs/Xssify2Zg
kLITI0chAoGBAPhpQx5/bYikbDXLgnm552KHoylWcc2y5cmIKAugV0mBbUKWlyKp
S8QCCSEgCJRTEeOUoCtIXhwDnL1ndlBPw8ETq9g18mbOIDmcXsVkZWWCq8ChNqiI
KDcgrU9S16YfloNfMXcTaPchXLMHqYIhNvtnwn11DMq6NdC51NSxrHo5AoGBAOIf
RlKnMJbLq808d8QoWD0PwcbrD5uPR2e4SSRWkCnK7lr4Ke6lMr0s2fW4/QpWE5g1
WgBOzU5xXgj8BzROopUxg1k4QLOoQUd3hQvlq5EdxHtMPeQgoyybNoYJghoIDkSH
r5NEs9LDDCJsBs2RyvODIHc4GJIiak4C1WiOgPWVAoGBAIIHj4OqTiqlbqMmGPEg
17aiq0ybHE0BJPk+FUAouSgX4Jpne0tAdRFvw1mcjAEgDpAjH0goxGJDncsjGjJl
3mD1rBEsA+u+X+3oJU+MAuuE3+SgPp0vUGWy7CVGhu1FQaMYtCrRdTNPOlfYXelo
+3/Ty2GiYITJvhu4+mgvbMo5AoGBAOH9tc/HbqVXOwYsx9oRJFcql1VR+lBTe17q
7JbXuM88FMpwOaBcFIDDAbc2whcBfiXiNGgYWdJrNTsvf5fEe3M2f/q8YNXtdAiU
KDGCwdyP7p33zedgwxRCr9R4TkHsCS5umYhK4pni/A6u/oGXk0mapOjh9JSgtrPu
2xDbU4GdAoGACAbyc+o8US1GXE/BvOdY4vK0gxZEDpTSQPWuvDYtk0zIkhS4QWpq
MA+/DKiOVrPUFY1o8xEd+/VPwwsIW83nsL0LDhy40YPyKGSa251em4YKB/QSzQq+
2vo2IZ80+k4PKmEkSJKqR082SfTnxV81+CIZc2kcLunfxQcz9VwgcJ4=
-----END RSA PRIVATE KEY-----
						</inline>
					</dir>
				</dir>
				<dir name="socket">
					<lxip ip_addr="10.0.2.2" netmask="255.255.255.0" gateway="10.0.2.1"/>
				</dir>
			</vfs>
			<libc stdout="/dev/log" stderr="/dev/log" socket="/socket" rtc="/dev/rtc"/>
		</config>
		<route>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="noux" caps="500">
		<resource name="RAM" quantum="60M" />
		<exit propagate="yes"/>
		<config>
			<fstab>
				<tar name="bash-minimal.tar" />
				<tar name="coreutils-minimal.tar" />
				<tar name="vim-minimal.tar" />
				<dir name="dev"> <zero/> <null/> </dir>
				<dir name="rw">     <fs label="target"/> </dir>
				<dir name="report"> <fs label="report"/> </dir>
				<dir name="config"> <fs label="config"/> </dir>
				<dir name="tmp"> <ram /> </dir>
				<dir name="share"> <dir name="vim"> <rom name="vimrc"/> </dir> </dir>
			</fstab>
			<start name="/bin/bash">
				<env name="TERM" value="screen" />
				<env name="PS1" value="noux:$PWD> " />
				<env name="IGNOREEOF" value="3"/>
			</start>
		</config>
		<route>
			<service name="File_system" label="target"> <parent label="target"/> </service>
			<service name="File_system" label="config"> <parent label="config"/> </service>
			<service name="File_system" label="report"> <parent label="report"/> </service>
			<service name="ROM" label="vimrc"> <parent label="vimrc"/> </service>
			<service name="Terminal"> <child name="ssh_terminal"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>
</config>
